.weightPlate {
    padding: 8px;
    font-size: 13px;
    width: 78px;
    height: 108px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    border: solid 1px #8a8a8f46;
}

.weightPlateActive {
    padding: 8px;
    font-size: 13px;
    width: 78px;
    height: 108px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #08776e2d;
    border-radius: 8px;
    border: solid 1px var(--main-green);
}

.weightPlate:hover {
    cursor: pointer;
    background-color: #7b838228;
}